{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^~/", "^src", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
